@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}
html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-color: #212633;
}
main {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  max-width: 540px;
  min-height: 330px;
  width: auto;
  background-color: #303A48;
  padding: 50px;
  border-radius: 15px;
}
.header {
  width: 125px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 30px;
}
.header p {
  color: #53FEA8;
  font-size: 14px;
  text-align: center;
  letter-spacing: .4rem;
}
.advice-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 35px;
}
.advice {
  color: #CEE2EA;
  font-size: 28px;
  text-align: center;
}
.break {
  display: flex;
  flex-direction: row;
}
.icon {
  position: absolute; 
  display: flex;
  bottom: 0px;
  height: 65px;
  width: 65px;
  margin-bottom: -32.5px;
}
.logo {
  /* height: 6em; */
  width: 24px;
  will-change: filter;
}
button {
  border-radius: 50%;
  background-color: #52FFAA;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  cursor: pointer;
  outline: none;
  border: none;
}
.button:hover {
  filter: drop-shadow(0 0 1rem #52FFAA);
}
#mobile-break {
  display: none;
}
@media (max-width: 375px) {
  #desktop-break {
    display: none;
  }
  #mobile-break {
    display: block;
  }
  main {
    width: 375px;
  }
}
